*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c3c3c;
}

input, textarea{
  outline: none;
  background-color: #cfcfcf;
  border: none;
}

textarea {
  resize: none;
}

.wrapper{
  margin: 0 auto;
  max-width: 960px;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

.list {
  border: 1px solid #4c4c4c;
  padding: 50px;
  margin-right: 200px;
  width: 500px;
  border-radius: 3px;
  height: 500px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #a1a1a1;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.add-post-wrapper{
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.title,
.post-title{
  margin-bottom: 20px;
  width: 100%;
  padding: 5px 15px;
}

#text,
.post-text {
  padding: 10px;
}

.btns__add-btn, .btns__remove-text, .edit-btn, .remove-post-btn {
  padding: 5px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
  color: #ffffff;
}

.btns__add-btn, .edit-btn {
  background-color: #4CAF50;
  border: 1px solid #45a049;
}

.btns__remove-text, .remove-post-btn {
  background-color: #FF5C5C;
  border: 1px solid #FF0000;
}

.btns__add-btn:active, .edit-btn:active {
  background-color: #3e8e41;
}

.btns__remove-text:active, .remove-post-btn:active {
  background-color: #CC0000;
}

.post-wrapper{
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #2b2b2b;
  background-color: #424242;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  animation: slideIn 0.9s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post {
  display: flex;
  flex-direction: column;
}

.post-title {
  background-color: #cfcfcf;
}

.post-btns{
  display: flex;
  margin-top: 15px;
  gap: 50px;
}